body {
width: 800px;
background-color: antiquewhite;
margin: auto;
padding-bottom: 30px;
padding-top: 30px;
}

* {
text-align: justify;
}

figcaption {
font-size: 24px;
}

a {
text-decoration: none;
}

button {
font-size: 36px;
text-align: center;
}

details {
font-size: 30px;
padding-top: 10px;
padding-bottom: 10px;
}
p {
font-size: 24px;
line-height: 1.5;
}

h1 {
font-size: 36px;
}

h2 {
font-size: 30px;
}

h3 {
font-size: 24px;
}

.sketch {
width: 100%;
height: 480px;
}

li {
font-size: 24px;
}

.breadboard {
width: 60%;
alt: breadboard diagram;
}

.schematic {
width: 60%;
alt: Schematic diagram;
}